<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header/base_header"); -%>
</head>
<body class="d-flex flex-column h-100">
    <%- include("partials/navbar/base_navbar"); -%>
    <div class="container-fluid row">
        <div class="col">
            <i class="fa-solid fa-house"></i> Hello
        </div>
    </div>
    <%- include("partials/footer/base_footer"); -%>
</body>
</html>
