<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Scarlet <%= pageData.version %></span>
        <span class="text-muted"> - <a href="https://github.com/ScarletDevDash"><i class="fa-brands fa-github"></i> Github</a></span>
        <span class="text-muted" style="float:right;"><a href="https://github.com/ScarletDevDash/issues"><i class="fa-solid fa-bug"></i> Report A Bug</a></span>
    </div>
</footer>
